body, html {
    font-family: Roboto, sans-serif;
    height: 100%;
    background: linear-gradient(
        545deg,
        rgb(252, 228, 252),
        rgb(241, 198, 117)
    );
    background-attachment: fixed;
}